@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background: black;
	}
}

@media (prefers-color-scheme: light) {
	body {
		color: black;
		background: white;
	}
}

@font-face {
	font-family: 'Blanka';
	font-display: swap;
	src: url('../public/blanka.otf');
}
